
<div style="margin-top: 120px;">
    <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Property Sell</h2>
              </div>
    
            <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="container">
                <form >
                  <div class="row">
                    <div class="col-md-6 form-group">
                        <label >FirstName</label>
                      <input type="text" class="form-control" FormControlName="firstName" placeholder=" Enter Your FirstName" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label >LastName</label>
                      <input type="text" class="form-control" FormControlName="lastName" placeholder=" Enter Your LastName" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                        <label >Phone_No.</label>
                      <input type="tel" class="form-control" FormControlName="Phone_No" placeholder=" Enter Your Phone_No" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label >Address</label>
                      <input type="text" class="form-control" FormControlName="Address" placeholder=" Enter Your Address" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                        <label >Total_Marla</label>
                      <input type="text" class="form-control" FormControlName="Total_Marla" placeholder=" Enter Your Total_Marla" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label >Description</label>
                      <input type="text" class="form-control" FormControlName="Description" placeholder=" Enter Your Description" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                        <label >BedRooms</label>
                      <input type="text" class="form-control" FormControlName="BedRooms" placeholder=" Total BedRooms" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label >BathRooms</label>
                      <input type="text" class="form-control" FormControlName="BathRooms" placeholder=" Total Bathroom" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                        <label >Kitchen</label>
                      <input type="text" class="form-control" FormControlName="Kitchen" placeholder=" Total Kitchen" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label >image</label>
                      <input type="file" class="form-control" accept="Image/*" FormControlName="Image"   required>
                      <!-- (change)="handleImagetoInput($event.target.files)"  -->
                    </div>
                  </div>
                  

                  
                  <div class="text-center"><button class="btn btn-danger" style="margin-top: 20px;" type="submit">Send Message</button></div>
                </form>
              </div>
    
            </div>
    
          </div>
        </section>
        </div>