<mat-nav-list>
    <mat-icon class="sidenav-closeButton" (click)="onSidenavClose()">close</mat-icon>
    <a class="mat-list-item-content" mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a class="mat-list-item-content" mat-list-item routerLink="/becomeHost">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Become a host</span>
    </a>
    <a class="mat-list-item-content" mat-list-item routerLink="#">
        <mat-icon>account_balance</mat-icon> <span class="nav-caption">Account balance</span>
    </a>
</mat-nav-list>