<section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form >
              <div class="row">
                <div class="col-md-6 form-group">
                  <label >FirstName</label>
                  <input type="text" name="name" class="form-control" id="firstName" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <label >LastName</label>
                  <input type="text" class="form-control" name="email" id="lastName" placeholder="Your LastName" required>
                </div>
              </div>
              <div class="form-group col-md-6 ">
                <label >Email</label>
                <input type="email" class="form-control" placeholder="email" required>
              </div>
              <div class="form-group col-md-6">
                <label >Message</label>
                <textarea class="form-control" name="message" rows="5" placeholder="Enter Message" required></textarea>
              </div>
              
              <div style="margin-top:30px; margin-left: 110px;" class="text-center btn btn-warning"><button type="button" class="btn btn-warning" >Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
            <!-- <form >
              <div class="row">
                <div class="col-md-5 form-group">
                    <label >FirstName</label>
                  <input type="text" class="form-control" FormControlName="firstName" placeholder=" Enter Your Name" required>
                </div>
                <div class="col-md-5 form-group">
                    <label >LastName</label>
                  <input type="text" class="form-control" FormControlName="lastName" placeholder=" Enter Your Email" required>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label >Email</label>
                <input type="email" class="form-control" FormControlName="email" placeholder="ENter Your Email" required>
              </div>
              <div class="form-group">
                <label >Message</label>
                <textarea class="form-control" FormControlName="message" rows="5" placeholder=" Your Message" required></textarea>
              </div>
              
              <div class="text-center"><button class="btn btn-danger" style="margin-top: 20px;" type="submit">Send Message</button></div>
            </form> -->
         