
<mat-toolbar fxHide.gt-xs color="primary"  class="sticky_footer" style="z-index: 1;">
   
   
    <div  fxLayout = "row" fxLayoutAlign="space-around center" style="width: inherit;">


        <button mat-icon-button (click)="onToggleSidenav()" >
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>card_travel</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
        
    </div>
    
   


</mat-toolbar>