<!--'fxLayout' element define the flow order of the child component.
    'fxFlexalign' Works like fxLayoutAlign, but applies only to a single flexbox item, instead of all of them-->
<section fxLayout="column" fxFlexAlign="stretch">
    <!--Hero Header-->
    <div>
        <div class="hero-header">
            <div fxLayout>
                <div  fxHide fxShow.gt-xs fxFlex>
                        <h1 class="headingHeroHeader">Basyra<br>Explore New Places</h1> 
                        <li class="_fullViewButtonCsslist">
                            <ul class="p_InlineStart"><a mat-raised-button class="_postButtonCss"  color="primary" >Post</a>
                            </ul>
                           <ul class="p_InlineStart"><a mat-raised-button class="_findButtonCss">FIND</a></ul>
                        </li>
                </div>
               
                <div fxHide.gt-xs fxShow-xs fxFlex>
                    <h1 class="headingHeroHeader">Basyra<br>Explore New Places</h1>
                    <li class="_smallViewButtonCsslist">
                        <ul class="p_InlineStart"><a mat-raised-button class="_postButtonCss" color="primary" >Post</a>
                        </ul>
                       <ul class="p_InlineStart"><a mat-raised-button class="_findButtonCss">FIND</a></ul>
                    </li>
                </div>
                
            </div>
        </div>
    </div>

    <!--Card  Hostel section-->
    <div class="h-100" fxLayout = "row wrap" fxLayoutAlign="center center">
        <div class="h-100" fxFlex = "80%" fxFlex.lt-md="100%">
            <section>
                <h1>Hostel</h1>
                <div fxLayout="row inline" class="_cardSectionContainer">
                    <mat-card class="_cardsContainer">  
                        <mat-card-content  fxLayout="row" fxLayoutAlign="center none" >
                            <img mat-card-image class="_cardImages" src = "../../assets/images/designs/dummy/3..jpg" alt = "Learn about hostel service">        
                        </mat-card-content>
                        <mat-card-header>
                            <mat-card-title>Hostel on rent</mat-card-title>
                            <mat-card-subtitle style="margin-bottom: 0;">D-12/1, Islamabad</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card>
                            <div> 
                                <div fxLayout="row" fxLayout.sm="column" > 
                                    <div fxFlex class="matIcon_PadHeight">
                                            <div class="matIcon_BinfoSection">
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">king_bed</mat-icon></span>
                                                            <span class="gray">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">
                                                                bathtub
                                                            </mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                           </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon > restaurant</mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                            </div>
                                            <p class="space0">
                                                    <span>
                                                        <span class="gray">PKR</span>
                                                        <span class="primary" style="font-size:22px;"> 80.44 lac</span>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </mat-card>   
                    </mat-card>
                    <mat-card class="_cardsContainer">   
                        <mat-card-content  fxLayout="row" fxLayoutAlign="center none" >
                            <img mat-card-image class="_cardImages" src = "../../assets/images/designs/dummy/3..jpg" alt = "Learn about hostel service">        
                        </mat-card-content>
                        <mat-card-header>
                            <mat-card-title>Hostel on rent</mat-card-title>
                            <mat-card-subtitle style="margin-bottom: 0;">D-12/1, Islamabad</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card>
                            <div> 
                                <div fxLayout="row" fxLayout.sm="column" > 
                                    <div fxFlex class="matIcon_PadHeight">
                                            <div class="matIcon_BinfoSection">
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">king_bed</mat-icon></span>
                                                            <span class="gray">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">
                                                                bathtub
                                                            </mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                           </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon > restaurant</mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                            </div>
                                            <p class="space0">
                                                    <span>
                                                        <span class="gray">PKR</span>
                                                        <span class="primary" style="font-size:22px;"> 80.44 lac</span>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </mat-card>                 
                    </mat-card>
                    <mat-card class="_cardsContainer">
                        
                        <mat-card-content  fxLayout="row" fxLayoutAlign="center none" >
                            <img mat-card-image class="_cardImages" src = "../../assets/images/designs/dummy/3..jpg" alt = "Learn about hostel service">        
                        </mat-card-content>
                        <mat-card-header>
                            <mat-card-title>Hostel on rent</mat-card-title>
                            <mat-card-subtitle style="margin-bottom: 0;">D-12/1, Islamabad</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card>
                            <div> 
                                <div fxLayout="row" fxLayout.sm="column" > 
                                    <div fxFlex class="matIcon_PadHeight">
                                            <div class="matIcon_BinfoSection">
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">king_bed</mat-icon></span>
                                                            <span class="gray">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">
                                                                bathtub
                                                            </mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                           </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon > restaurant</mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                            </div>
                                            <p class="space0">
                                                    <span>
                                                        <span class="gray">PKR</span>
                                                        <span class="primary" style="font-size:22px;"> 80.44 lac</span>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </mat-card>
                    </mat-card>
                </div>  
            </section>
        </div>
    </div>
  
    <!--Bannner Section-->
    <div>
        <div class="_BannerContainer"  >
            <a href="#">
                <!-- <md-content>
                    <md-grid-list
                    md-cols="2" 
                        
                       
                         [style.background]="'skyblue'" >
                        
                         <md-grid-tile  style="height: calc(100vh - 24px)">
                         tile 1
                        </md-grid-tile>
                        <md-grid-tile style="height: calc(100vh - 24px)">
                            tile 2
                        </md-grid-tile>
                        
                       
                      </md-grid-list>
                </md-content> -->
               
                <!-- <mat-grid-list  
               
                  rowHeight="250px"[style.background]="'skyblue'"  
                  gutterSize="5px" (window:resize)="onResize($event)" >
                   
                    <mat-grid-tile>Tile 1</mat-grid-tile>

                    <mat-grid-tile>Tile 2</mat-grid-tile>
                    
                </mat-grid-list> -->
                <div class="_imageBannerContainer" style="background: orange" >

                        <div  fxLayout="row" fxLayout.xs="column" style="height: inherit; width:100%; align-self: center;" >
                            <div  style="    align-self: center;">
                                <div class="_ContentBannerContainer"
                                >
                                    <div class="_titleBanner">
                                        <span class="_colorWhite">Try hosting</span>
                                    </div>
                                    <div class="_PGraphBanner">
                                        <span class="_colorWhite">Earn extra income and unlock new opportunities by sharing 
                                            your space.</span>
                                    </div>
                                    <div class="_buttonBanner">
                                        <button type="button" class="_buttonBannerCss">
                                            <span style="color: rgb(34, 34, 34);">Learn more</span>
                                        </button>
                
                                    </div>
                
                                </div>
                            </div>
                            <div>
                                <picture>
                                    <img  aria-hidden="true" alt="" decoding="async" loading="lazy" src="../../assets/images/demo.png" style=" object-fit: cover; object-position: 50% 50%; vertical-align: bottom;">
                                </picture>
                            </div>
                        </div>

                    <!-- <div class="d">
                        <picture>
                            <img class="e" aria-hidden="true" alt="" decoding="async" loading="lazy" src="https://a0.muscache.com/im/pictures/791aba62-2de8-4722-99b5-45838715eb34.jpg?im_q=medq&amp;im_w=720" style="position: absolute; left: 0px; right: 0px; object-fit: cover; object-position: 50% 50%; vertical-align: bottom;">
                        </picture>
                    </div>
                </div>
                <div class="_ContentBannerContainer">
                    <div class="_titleBanner">
                        <span class="_colorWhite">Try hosting</span>
                    </div>
                    <div class="_PGraphBanner">
                        <span class="_colorWhite">Earn extra income and unlock new opportunities by sharing 
                            your space.</span>
                    </div>
                    <div class="_buttonBanner">
                        <button type="button" class="_buttonBannerCss">
                            <span style="color: rgb(34, 34, 34);">Learn more</span>
                        </button>

                    </div>

                </div> -->
                </div>

            </a>
        </div>
    </div>
    
    <!--Card Flats section-->
    <div class="h-100" fxLayout = "row wrap" fxLayoutAlign="center center">
        <div class="h-100" fxFlex = "80%" fxFlex.lt-md="100%">
            <section>
                <h1>Flats</h1>
                <div fxLayout="row inline" class="_cardSectionContainer">
                    <mat-card class="_cardsContainer">  
                        <mat-card-content  fxLayout="row" fxLayoutAlign="center none" >
                            <img mat-card-image class="_cardImages" src = "../../assets/images/designs/dummy/3..jpg" alt = "Learn about hostel service">        
                        </mat-card-content>
                        <mat-card-header>
                            <mat-card-title>Flats on rent</mat-card-title>
                            <mat-card-subtitle style="margin-bottom: 0;">D-12/1, Islamabad</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card>
                            <div> 
                                <div fxLayout="row" fxLayout.sm="column" > 
                                    <div fxFlex class="matIcon_PadHeight">
                                            <div class="matIcon_BinfoSection">
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">king_bed</mat-icon></span>
                                                            <span class="gray">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">
                                                                bathtub
                                                            </mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                           </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon > restaurant</mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                            </div>
                                            <p class="space0">
                                                    <span>
                                                        <span class="gray">PKR</span>
                                                        <span class="primary" style="font-size:22px;"> 80.44 lac</span>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </mat-card>   
                    </mat-card>
                    <mat-card class="_cardsContainer">   
                        <mat-card-content  fxLayout="row" fxLayoutAlign="center none" >
                            <img mat-card-image class="_cardImages" src = "../../assets/images/designs/dummy/3..jpg" alt = "Learn about hostel service">        
                        </mat-card-content>
                        <mat-card-header>
                            <mat-card-title>Flats on rent</mat-card-title>
                            <mat-card-subtitle style="margin-bottom: 0;">D-12/1, Islamabad</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card>
                            <div> 
                                <div fxLayout="row" fxLayout.sm="column" > 
                                    <div fxFlex class="matIcon_PadHeight">
                                            <div class="matIcon_BinfoSection">
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">king_bed</mat-icon></span>
                                                            <span class="gray">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">
                                                                bathtub
                                                            </mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                           </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon > restaurant</mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                            </div>
                                            <p class="space0">
                                                    <span>
                                                        <span class="gray">PKR</span>
                                                        <span class="primary" style="font-size:22px;"> 80.44 lac</span>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </mat-card>                 
                    </mat-card>
                    <mat-card class="_cardsContainer">
                        
                        <mat-card-content  fxLayout="row" fxLayoutAlign="center none" >
                            <img mat-card-image class="_cardImages" src = "../../assets/images/designs/dummy/3..jpg" alt = "Learn about hostel service">        
                        </mat-card-content>
                        <mat-card-header>
                            <mat-card-title>Flats on rent</mat-card-title>
                            <mat-card-subtitle style="margin-bottom: 0;">D-12/1, Islamabad</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card>
                            <div> 
                                <div fxLayout="row" fxLayout.sm="column" > 
                                    <div fxFlex class="matIcon_PadHeight">
                                            <div class="matIcon_BinfoSection">
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">king_bed</mat-icon></span>
                                                            <span class="gray">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon class="material-icons-outlined ">
                                                                bathtub
                                                            </mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                           </span>
                                                    </span>
                                                    <span class="matIcon_outline">
                                                            <span class="c1 _0"><mat-icon > restaurant</mat-icon></span>
                                                            <span class="gray ">
                                                                <span class="v-align b6"> 4 </span>
                                                            </span>
                                                    </span>
                                            </div>
                                            <p class="space0">
                                                    <span>
                                                        <span class="gray">PKR</span>
                                                        <span class="primary" style="font-size:22px;"> 80.44 lac</span>
                                                    </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </mat-card>
                    </mat-card>
                </div>  
            </section>
        </div>
    </div>

     <!--Bannner Section-->
     <div>
        <div class="_BannerContainer">
            <div fxLayout="row" style="height: 100%;">
                <div fxFlex="30" style="text-align: center;  align-self: center;" >
                    <mat-icon style="font-size: xxx-large; color: orange;">notifications_active</mat-icon>
                </div>
                
                <div fxFlex style="align-self: center;"> 
                    <div > <!--class="_ContentBannerContainer"-->

                    
                        <div class="_titleBanner"> <!--class="_titleBanner"-->
                            <span class="_colorWhite">Try hosting</span>
                        </div>

                        <div class="_PGraphBanner"> <!--class="_PGraphBanner"-->
                    
                         <span class="_colorWhite">Having trouble finding the right property now?</span>
                        </div>
                    
                    </div>
                </div>
               
            
           

            
            
            
            
                <div fxFlex="30" style="align-self: center;">
                    <div class="_buttonBanner"> <!--class="_buttonBanner"-->
                
                        <button type="button" class="_buttonBannerCss"> <!--class="_buttonBannerCss"-->
                         <span style="color: rgb(34, 34, 34);">I want to be notified</span>
                        </button>
                        <button type="button" class="_buttonBannerCss"> <!--class="_buttonBannerCss"-->
                            <span style="color: rgb(34, 34, 34);">Maybe Later</span>
                           </button>

                     </div></div>
            
            </div>
                
        </div>
    </div>





    
    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Material Components">
            <p>We are going to use different material components to create nice looking angular application</p>
        </mat-tab>
        <mat-tab label="Consume">
            <p>we will create complete app.</p>
        </mat-tab>
        <mat-tab label="Fully Responsive navigation menu">
            <p>By using material components, we are going to create fuly responsive navigation menu,
                with it's sidebar as well.</p>
        </mat-tab>
    </mat-tab-group>
</section>
