section div h1{
    font-size: 30px;
    text-shadow: 2px 3px 5px black;
    margin: 80px 0 0px 0;
    line-height: normal;
    display: flex;
    align-items: center;
    height: 30%;
    align-content: center; 
    flex-wrap: nowrap;
    justify-content: center;
}
/* div + p ===> Selects the first <p> element that is placed immediately after <div> elements */
section div + p{
    color: #3f51b5;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}
.hero-header{
    position: relative;
    overflow: hidden;
}
div.layout{
    min-height: auto !important;
    height: 128px !important;
    max-height: auto !important;
}
.hero-header > div div{
    padding: 8px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 26%);
    opacity:0.9;
    color: white;
    text-align: center;
}
.demo-include{
    display: block;
}
.hero-header > div div:nth-child(1){
    /* FA983A */
    background: linear-gradient( rgba(255,168,1, 0.05) 100%, rgba(255,168,1, 0.05)100%),url('../../../designs/sale-concept-illustration-double.png'), radial-gradient(grey, transparent) ;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: center;
}
/* .hero-header > div div:nth-child(1)::before{
    background-color: #FFA801;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
} */
.hero-header > div div:nth-child(2){
    background: linear-gradient( rgba(255,168,1, 0.05) 100%, rgba(255,168,1, 0.05)100%),url('../../../designs/sale-concept-illustration.png'), radial-gradient(grey, transparent);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: center;
    

}
/* .hero-header > div div:nth-child(2)::before{
    background-color: #FFA801;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
} */

mat-tab-group {
    text-align: center;
}
mat-tab-group p {
    padding-top: 20px;
}