<!--'fxLayout' element define the flow order of the child component.
    'fxFlexalign' Works like fxLayoutAlign, but applies only to a single flexbox item, instead of all of them-->
<section fxLayout="column" fxFlexAlign="stretch">
    <!-- <div fxFlexAlign="center">
        <p>Welcome to material angular owner account application</p>
    </div>
    <p>In this application we are going to work with:</p> -->
    <div class="demo-include">
        <div class="hero-header">
            <div fxLayout>
                <div class="_fullScreenView" fxHide fxShow.gt-xs fxFlex>
                        <h1 style="color: white;">Basyra.<br>Explore New Places.</h1> 
                        <li style="list-style-type: none; display: flex; justify-content: space-evenly;">
                            <ul style="
                           padding-inline-start: 0px;"><a mat-raised-button style="color: white; min-width: 100px;"  color="primary" >Post</a>
                            </ul>
                           <ul style="padding-inline-start: 0px;"><a mat-raised-button style="color: #FFA801; min-width: 100px;">FIND</a></ul>
                        </li>
                </div>
                <!-- <div fxHide-gt-sm fxFlex>
                    Shown on small and medium.<br>
                    Hidden on gt-sm devices.
                </div> -->
                <div class="_smallScreenView" fxHide.gt-xs fxShow-xs fxFlex>
                    <h1 style="color: white;">Basyra.<br>
                    Explore New Places.</h1>
                    <li style="list-style-type: none; ">
                        <ul style="padding-inline-start: 0px;"><a mat-raised-button style="color: white; min-width: 100px;"  color="primary" >Post</a>
                        </ul>
                       <ul style="padding-inline-start: 0px;"><a mat-raised-button style="color: #FFA801; min-width: 100px;">FIND</a></ul>
                    </li>
                </div>
                <!-- <div fxHide fxShow.lt-md fxFlex="100%">
                    Shown on medium size devices only.
                </div> -->
                
            </div>
        </div>
    </div>
   
    
    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Material Components">
            <p>We are going to use different material components to create nice looking angular application</p>
        </mat-tab>
        <mat-tab label="Consume">
            <p>we will create complete app.</p>
        </mat-tab>
        <mat-tab label="Fully Responsive navigation menu">
            <p>By using material components, we are going to create fuly responsive navigation menu,
                with it's sidebar as well.</p>
        </mat-tab>
    </mat-tab-group>
</section>
